{% extends "auctions/layout.html" %}

{% block body %}

    <div class="row mx-3">
        {% if user.is_authenticated %}
            {% if isListingInWatchlist %}
                    <form action="{%  url 'removeWatchlist' id=listing.id %}"  method="POST" >   
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" >Remove From Watchlist</button>

                    </form>
            {% else %}
                    <form action="{%  url 'addWatchlist' id=listing.id %}"  method="POST" >   
                        {% csrf_token %}
                    <button type="submit" class="btn btn-success" >Add to Watchlist</button>
            </form>
            {% endif %}
        {% endif %}
    </div>

    <h2>Pokemon: {{ listing.title }}</h2>
    <div>
        <img src="{{ listing.imageUrl }}" alt="{{ listing.title }}" height="400px">
    </div>
    <p>Owner: {{ listing.owner }}</p>
    <p>{{ listing.description }}</p>
    <h4>${{ listing.price }}</h4>
{% endblock %}
