{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    {% if message %}
        {% if updated %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endif %}
</div>

<div class="row mx-3">
    {% if user.is_authenticated and listing.isActive %}
        {% if isOwner   %}
            <form action="{% url 'closeAuction' id=listing.id %}" method="POST" class="row mx-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">closeAuction</button>
            </form>
        {% endif %}
        {% if isListingInWatchlist %}
            <form action="{% url 'removeWatchlist' id=listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Remove From Watchlist</button>
            </form>
        {% else %}
            <form action="{% url 'addWatchlist' id=listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Add to Watchlist</button>
            </form>
        {% endif %}
    {% endif %}
</div>

<h2>Pokemon: {{ listing.title }}</h2>
<div>
    <img src="{{ listing.imageUrl }}" alt="{{ listing.title }}" height="400px">
</div>
<p>Owner: {{ listing.owner }}</p>
<p>{{ listing.description }}</p>
<h6>Initial Price: ${{ listing.price.bid }}</h6>
{% if user.is_authenticated  %}
<form action="{% url 'addBid' id=listing.id %}" method="POST" class="w-100">
    {% csrf_token %}
    <div class="form-group">
        <label for="newBid">Add Bid</label>
        <input 
            type="number"
            min = "0"
            name="newBid" 
            class="form-control" 
            id="newBid" 
            placeholder="Add New Bid"
        >
        <br/>
        <button type="submit" class="btn btn-primary">Submit Bid</button>
    </div>            
</form>
{% endif %}

<!-- listing.html -->
{% if listing.is_open %}
    <form method="POST" action="{% url 'addBid' listing.id %}">
        {% csrf_token %}
        <input type="number" name="newBid" placeholder="Enter your bid" required>
        <button type="submit">Submit Bid</button>
    </form>
{% else %}
    <input type="number" name="newBid" placeholder="Bid closed, no new bids allowed" disabled>
    <button type="submit" disabled>Submit Bid</button>
{% endif %}

<br/>
<p> {{ message }} </p>

    <h2 class="mb-3">Comments</h2> 
    <br/>
    {% if user.is_authenticated %}
        <form action="{% url 'addComment' id=listing.id %}" method="POST" class="w-100">
            {% csrf_token %}
            <div class="form-group">
                <label for="newComment">Add Comment</label>
                <input 
                    type="text" 
                    name="newComment" 
                    class="form-control" 
                    id="newComment" 
                    placeholder="Add your comment"
                >
                <br/>
                <button type="submit" class="btn btn-primary mt-2">Submit Comment</button>
            </div>            
        </form>
    {% endif %}
    <br/>
    <ul class="mt-4 w-100">
        <ul class="list-group">
            {%for comment in allComments%}
                <li class="list-group-item">
                    {{comment.message}}
                    <br/>
                <p>Posted by: <strong>{{comment.author}}</strong></p>
                </li>          
          {% endfor %}
        </ul>
{% endblock %}
